---
// MovieCard.astro
import Image from 'astro/components/Image.astro';


const { tags, comment, subject, create_time, rating} = Astro.props;
const { card_subtitle, title, cover_url, url } = subject;
let rate = rating ? rating.value: null;
console.log(rate)
---
<div
        class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
    <a href={url} >
        <div class="hero-content flex-col md:flex-row">
            {
                cover_url && (
                            <Image
                                    src={cover_url}
                                    width={600}
                                    height={600}
                                    format="webp"
                                    alt={title}
                                    class="max-w-full md:max-w-[8rem] md:max-h-[8rem] rounded-lg"
                            />
                )
            }
            <div class="grow w-full">
                <h1 class="text-xl font-bold">
                    {title}
                    {
                        tags &&
                        tags.map((tag) => (
                                <a class="badge badge-outline float-right mr-1">
                                    {tag}
                                </a>
                        ))
                    }
                </h1>
                 <p class="py-1 text-1xl">{card_subtitle}</p>
                <p class="py-1 text-1xl">观看时间：{create_time.substring(0, 10)}  {rate ? "| " + rate + "星" : ""}</p>
                {comment && <p class="py-1 text-1xl">评论：{comment}</p>}
            </div>
        </div>
    </a>
</div>