---
import { getPostUrlBySlug } from '@utils/url-utils'
import PostCard from './PostCard.astro'
import suppDesc from '@utils/suppDesc';
import getHeroImageLinkFromMd from '@utils/getHeroImageLinkFromMd';
const { page } = Astro.props

let delay = 0
const interval = 50
---
<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {page.data.map((entry: { data: { draft: boolean; title: string; tags: string[]; category: string; pubDatetime: Date; image: string; description: string; updated: Date; }; slug: string; }) => {
        return (
            <PostCard
                    entry={entry}
                    title={entry.data.title}
                    tags={entry.data.tags}
                    category={entry.data.category}
                    pubDatetime={entry.data.pubDatetime}
                    updated={entry.data.updated}
                    url={getPostUrlBySlug(entry.slug)}
                    image={getHeroImageLinkFromMd(entry)}
                    description={suppDesc(entry.data.description, entry.body)}
                    draft={entry.data.draft}
                    class:list="onload-animation"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
            ></PostCard>
        );
    })}
</div>