---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API  } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION, includeSidebar = true, sideBarActiveItemID,ogType } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lofi">
  <head>
      <meta charset="utf-8"/>
      <meta name="msvalidate.01" content="554974539F0479DABBAF2B9C6886C920" />
      <meta name="baidu-site-verification" content="codeva-Zb1fJaVwQk" />
      <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-webfont/1.6.0/style.min.css" />
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-webfont/1.7.0/style.css" integrity="sha512-N5mr/qafwZh4zYHLQUs1AOS893jjDJuWTiY1b9aJjG9VBoyX8QRjJENO4xl99gJbL/C2UonXkzkXT1o0WJ+NNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
  <!--    <link rel='stylesheet' href='https://blog.malanxi.top/lxgwwenkai-light/result.css' />-->
<!--<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css" />-->
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[1280px] max-w-[180vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
