---
import { type BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import Comment from "@components/Comment.astro";

export interface Props extends BlogSchema {}

const { title, description, pubDatetime, updatedDate, heroImage, badge, tags = [], type } = Astro.props;
const displayDate = dayjs(pubDatetime).format('YYYY-MM-DD HH:mm');
const isBlog = type === 'blog';
const isNumber = title.startsWith("20");
let url = `https://raw.githubusercontent.com/mxz94/mxz_back/master/src/content/${type}/${title}.md`;

if (isBlog) {
    if (isNumber) {
        url = `https://raw.githubusercontent.com/mxz94/mxz_back/master/src/content/${type}/${title.substring(0, 4)}/${title}.md`;
    } else {
        url = `https://raw.githubusercontent.com/mxz94/mxz_back/master/src/content/${type}/朝花夕拾/${title}.md`;
    }
}

import { Image } from "astro:assets";
import TableOfContents from "../components/TableOfContents.astro";

---

<BaseLayout title={title} description={description} image={heroImage} ogType="article">
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[850px] prose-img:mx-auto">
      <!--{heroImage && <Image width={750} height={422} format="webp" src={heroImage} alt={title} class="w-full mb-6" />}-->
      <a class="mt-14 text-sm text-gray-500" style="float: right" href={`${url}`}>
        <i aria-label="icon: cloud-download" tabindex="-1" class="anticon anticon-cloud-download download-icon">
            <svg viewBox="64 64 896 896" data-icon="cloud-download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                <path d="M624 706.3h-74.1V464c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v242.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.7a8 8 0 0 0 12.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9z"></path>
                <path d="M811.4 366.7C765.6 245.9 648.9 160 512.2 160S258.8 245.8 213 366.6C127.3 389.1 64 467.2 64 560c0 110.5 89.5 200 199.9 200H304c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8h-40.1c-33.7 0-65.4-13.4-89-37.7-23.5-24.2-36-56.8-34.9-90.6.9-26.4 9.9-51.2 26.2-72.1 16.7-21.3 40.1-36.8 66.1-43.7l37.9-9.9 13.9-36.6c8.6-22.8 20.6-44.1 35.7-63.4a245.6 245.6 0 0 1 52.4-49.9c41.1-28.9 89.5-44.2 140-44.2s98.9 15.3 140 44.2c19.9 14 37.5 30.8 52.4 49.9 15.1 19.3 27.1 40.7 35.7 63.4l13.8 36.5 37.8 10C846.1 454.5 884 503.8 884 560c0 33.1-12.9 64.3-36.3 87.7a123.07 123.07 0 0 1-87.6 36.3H720c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h40.1C870.5 760 960 670.5 960 560c0-92.7-63.1-170.7-148.6-193.3z"></path>
            </svg>
        </i>
      </a>
      <h1 class="title my-2 text-4xl font-bold" style="display: flex;justify-content: center;">{title}</h1>
      <br/>
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {tags && tags.map((tag) => (
        <a href={`/tag/${tag}`} class="badge badge-outline ml-2 no-underline">
          {tag}
        </a>
      ))}
      {pubDatetime && <time class="float-right">{displayDate}</time>}
      <div class="divider my-2"></div>
      <slot />
    </article>
    <TableOfContents />
  </main>
  <div id="main-content" class="mt-8"></div>
  <!--<Comment></Comment>-->
  <!--<link-->
  <!--        rel="stylesheet"-->
  <!--        href="https://unpkg.com/@waline/client@v3/dist/waline.css"-->
  <!--/>-->
  <!--<div id="waline"></div>-->
  <!--<script type="module">-->
  <!--    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';-->

  <!--    init({-->
  <!--        el: '#waline',-->
  <!--        reaction: true, // 开启反应-->
  <!--        serverURL: 'https://waline.malanxi.top/',-->
  <!--        copyright: false,-->
  <!--        login: 'disable',-->
  <!--        imageUploader: false,-->
  <!--        requiredMeta: ['nick'],-->
  <!--    });-->
  <!--</script>-->
  <script is:inline>
    function optimizeVerticalImages() {
      const articles = document.querySelectorAll('article');

      articles.forEach(article => {
        // 获取所有图片元素
        const images = article.querySelectorAll('img');
        images.forEach((image, index) => {
          // 获取图片的宽度和高度
          const width = image.width;
          const height = image.height;

          // 如果图片的高度大于宽度，则认为是竖版图片
          if (height > width) {
            image.classList.add("landscape-img");
          }
        });

        const videos = article.querySelectorAll('video');

        videos.forEach((video, index) => {
          // 获取视频的宽度和高度
          const width = video.videoWidth;
          const height = video.videoHeight;
          // 如果视频的高度大于宽度，则认为是竖版视频
          if (height > width) {
            // 设置竖版视频的宽度以适应父容器，保持高度自动调整
            video.classList.add("landscape-img");
          }
        });
      });
    }

    function initializeLivePhotos() {
      if (window.LivePhotosKit) {
          const myNewPlayer = LivePhotosKit.Player();
          document.body.appendChild(myNewPlayer);
          const livePhotoElements = document.querySelectorAll('.live-photo-container');
          livePhotoElements.forEach(element => {
            LivePhotosKit.Player(element);
          });
      }
    }

    optimizeVerticalImages();

    // 在文档加载完成后执行优化
    // document.addEventListener('astro:page-load', optimizeVerticalImages);

    document.addEventListener('astro:page-load', () => {
      optimizeVerticalImages();
      initializeLivePhotos();
    });
  </script>
</BaseLayout>
